/*
	Created:		01.05.2016
	Author:			Rekha B
	Version:		1.0
*/

/* Custom Variables */
@import "partials/variables";

/* Partials */
@import "header";
@import "partials/components/navs";

/* Layout */
@import "partials/components/grid";
